[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
cython = "*"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
pysam = "*"
matplotlib = "*"
seaborn = "*"
khmer = {git = "https://github.com/dib-lab/khmer.git"}

[requires]
python_version = "3.8"
