[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
pysam = "*"
matplotlib = "*"
seaborn = "*"
khmer = "*"

[requires]
python_version = "3.7"
